*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    border: 2px solid green;
    
    max-width: 600px;
   
  padding: 3% 3%;
    
}

form div{
   margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
}

table {
    margin-top: 7%;
    border-collapse: collapse; 
    width: 100%; 
    border: 2px solid black; 
}

th, td {
    border: 1px solid black; 
    padding: 8px;            
    text-align: left; 
    background-color: aquamarine;       
}



